h1 {
  color: blue;
}

.app {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}
li{
  border-style: solid;
  border-color: rgb(88, 65, 5);
  background-color: rgb(20, 243, 243);
  border-radius: 30%;
  width: 80px;
}