.one
{
    border-style: solid;
    border-color: black;
    width: 90%;
    margin: 20px;
}

.two
{
    border-style: solid;
    border-color: black;
    margin: 20px;
}

.three
{
    border-style: solid;
    border-color: black;
    margin: 20px;
}

.four
{
    border-style: solid;
    border-color: black;
    margin: 20px;
}

.five
{
    border-style: solid;
    border-color: black;
    margin: 20px;
}

.six
{
    border-style: solid;
    border-color: black;
    margin: 20px;
}

.seven
{
    border-style: solid;
    border-color: black;
    margin: 20px;
}

.eight
{
    border-style: solid;
    border-color: black;
    margin: 20px;
}
